<p>login works!</p>
<table>
    <tr>
        <td>uname</td>
        <td>text</td>
        <td>psw</td>
        <td>text</td>
        <td>login</td>
        <td>text</td>
    </tr>
    <tr *ngFor="let user of LoginDetails">

    </tr>

</table>


<div> <label for="uname"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" name="uname" required><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <button type="button" (click)="gotologin()">Login</button><br>
    
 </div>